<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="target-densitydpi=device-dpi,width=640,user-scalable=0">
    <title> 趣发现，风光美 </title>
    <link rel="stylesheet" href="css/gx-animate.min.css?12112"/>
    <link rel="stylesheet" href="css/style.css?12112"/>
    <style>
        .zan_lst>li:nth-of-type(1) .metal,.zan_lst>li:nth-of-type(2) .metal,.zan_lst>li:nth-of-type(3) .metal,.zan_lst>li:nth-of-type(4) .metal,.zan_lst>li:nth-of-type(5) .metal{
            width: 42px;
            height: 42px;
            border-radius: 50%;
            background: #d8862f;
            text-align: center;
            line-height: 42px;
            color: #fff;
            font-size: 20px;
        }
        .metal{left: -15px;}
    </style>
</head>
<body>

<div class="loading">
    <div class="loading-text">
        <span class="loading-text-words">L</span>
        <span class="loading-text-words">O</span>
        <span class="loading-text-words">A</span>
        <span class="loading-text-words">D</span>
        <span class="loading-text-words">I</span>
        <span class="loading-text-words">N</span>
        <span class="loading-text-words">G</span>
    </div>
</div>
<!-- load 预加载 -->
<div class="page-wrap">
    <input type="hidden" class="played" value="<?php echo $num;?>"/>
    <!-- 5 page_share 分享-->
    <div class="page page_zan" id="box" data-lock-prev="true" data-lock-next="true"  >
        <div class="" id="inner" style="position: relative; " >
            <a href="javascript:;" class="btn_backs"></a>
            <img class="slogan2" src="images/slogan2.png" alt=""/>
            <div class="btn_rule_box">
                <a href="javascript:;" class="btn_rules"></a>
            </div>
            <form id="form" action="index.php?mod=zan&ac=search" method="post">
            <div class="serach_box clearfix">
                <input type="text" name="keyword" class="ipt3 search_ipt fl" placeholder="按相册名或编号搜索相册" />
                <input type="submit" class="btn_search fr" value="" />
            </div>
            <ul class="zan_lst clearfix" id="list">
                <!--<li>-->
                    <!--<div class="metal metal_five"></div>-->
                   <!--<div class="pic_wrap">-->
                       <!--<img class="test" src="images/test.jpg" alt=""/>-->
                       <!--<ul class="pic_bom">-->
                           <!--<li class="clearfix">-->
                               <!--<div class="col1 fl">-->
                                    <!--<div class="tx_wrap">-->
                                        <!--<img class="tx" src="images/test2.jpg" alt=""/>-->
                                    <!--</div>-->
                                   <!--<span class="name">元气酱元气酱元气酱元气酱元气酱元气酱</span>-->
                               <!--</div>-->
                               <!--<div class="col2 fr">-->
                                   <!--<a href="javascript:;" class="btn_check">查看</a>-->
                               <!--</div>-->
                           <!--</li>-->
                           <!--<li class="clearfix">-->
                               <!--<div class="col1 fl">-->
                                   <!--<span class="picture_name">我的风光三亚我的风光三亚我的风光三亚我的风光三亚</span>-->
                               <!--</div>-->
                               <!--<div class="col2 fr">-->
                                   <!--<span class="zans"><span class="zan_num">1196</span>赞</span>-->
                               <!--</div>-->
                           <!--</li>-->
                           <!--<li class="clearfix">-->
                               <!--<div class="col1 fl">-->
                                   <!--<span class="xuhao">001</span>-->
                               <!--</div>-->
                               <!--<div class="col2 fr">-->
                                   <!--<a href="javascript:;" class="zan_btn "></a>-->
                               <!--</div>-->
                           <!--</li>-->
                       <!--</ul>-->
                   <!--</div>-->
                <!--</li>-->
				
				<?php echo $str;?>
            </ul>
            </form>
            <footer>上拉加载更多</footer>
            <img class="slogan3" src="images/slogan3.png" alt=""/>
        </div>
    </div>
</div>

<!-- 弹框 -->
<div class="tk tk-load none">
    <div class="tkIn">
        <img src="images/loading.gif" height="60" width="60" alt=""/>
        <p class="tlWrd">拼命加载中，请耐心等待</p>
    </div>
</div>
<!-- 规则 -->
<div class="tk tk_rule none">
    <div class="tkIn ">
        <img class="rule_img" src="images/rule.png" alt=""/>
        <a href="javascript:;" class="close_btn"></a>
    </div>
</div>

<!-- 搜索条件不存在 -->
<!--<div class="tk tk_exsit none">-->
    <!--<div class="tkIn ">-->
        <!--<img class="no_exsit" src="images/no_exsit.png" alt=""/>-->
    <!--</div>-->
<!--</div>-->
<?php echo $strser;?>
<div id="orientLayer" class="mod-orient-layer">
    <div class="mod-orient-layer__content"><i class="icon mod-orient-layer__icon-orient"></i>
        <div class="mod-orient-layer__desc">为了更好的体验，请使用横屏浏览</div>
    </div>
</div>
<div class="qr-box">
    <div id="qr-box__img" class="qr-box__img"></div>
    <div class="qr-box__thumb qr-box__thumb_default"
         style="background-image:url(//wximg.gtimg.com/wxp/wxmoment-source/img/weixin-logo.png)"></div>
    <div id="qr-box__thumb" class="qr-box__thumb"></div>
    <div class="qr-box__text">微信扫一扫<br>手机浏览效果更佳</div>
</div>
<div style="display: none">
    <script>
        /*监测代码*/
        var _hmt = _hmt || [];
        (function() {
            var hm = document.createElement("script");
            hm.src = "https://hm.baidu.com/hm.js?2c63eb6561b54ee18095d863a4f1b2f9";
            var s = document.getElementsByTagName("script")[0];
            s.parentNode.insertBefore(hm, s);
        })();
    </script>
</div>
</body>
<!-- js -->
<script src="js/jweixin-1.0.0.js"></script>
<script src="js/zepto.min.js"></script>
<script src="js/simpleInheritance.js"></script>
<script src="js/StaticResoucesUtil.js"></script>
<script src="js/pxloader-images.min.js"></script>
<script src="js/PageSlider.js"></script>
<script src="js/m.Tween.js"></script>
<script src="js/zan1.js"></script>
</body>
</html>